<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.EzemKofiV2"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.CartScreen"
            android:exported="false" />
        <activity
            android:name=".ui.SearchScreen"
            android:exported="false" />
        <activity
            android:name=".ui.CoffeeDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.MainScreen"
            android:exported="false" />
        <activity
            android:name=".ui.RegisterScreen"
            android:exported="false"
            android:theme="@style/Theme.EzemKofiV2" />
        <activity
            android:name=".ui.LoginScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>